@model List<UserVM>
@{
    ViewData["Title"] = "Index";
    int number = 1;
}

<div class="container my-3">
    <div class="d-flex justify-content-end">
        <a class="btn btn-outline-success" asp-controller="Products" asp-action="Create"><i class="fa-solid fa-plus"></i> Create</a>
    </div>
    <table class=" table table-dark table-striped">
        <thead>
            <tr>
                <th>№</th>
                <th>FullName</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserVM user in Model)
            {
                <tr>
                    <td>@number</td>
                    <td>@user.FullName</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>
                        @string.Join(',',user.Roles)
                    </td>
                   <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Change Role
                            </button>
                            <ul class="dropdown-menu">
                                @if (user.Roles.Contains("Admin"))
                                {
                                    <li><a class="dropdown-item" asp-action="ChangeRole" asp-route-id="@user.Id" asp-route-role="User">Make User</a></li>
                                }
                                else

                                {
                                    <li><a class="dropdown-item" asp-action="ChangeRole" asp-route-id="@user.Id" asp-route-role="Admin">Make Admin</a></li>

                                }
                               
                            </ul>
                        </div>
                   </td>
                </tr>
                number++;
            }
        </tbody>
    </table>   
</div>

